body {
  font-family: "Manrope", sans-serif;
  width: 100%;
}

.header {
  width: 1400px;
  min-width: 1400px;
  margin: 32px auto 70px;
  padding: 0 125px 0;

}

.nav-bar {
  display: inline-block;
  position: relative;
}

.logo {
  margin-right: 548px;
  display: inline-block;

}

.nav__link {
  margin-right: 60px;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: -0.03em;
  color: #121212;
  text-decoration: none;
  display: inline-block;

}

.last {
  margin-right: 0px;
  float: right;
  position: absolute;
  bottom: 0px;
}

.nav__link:active {
  text-decoration-line: line-through;
}

.main {
  width: 1400px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 0 125px 0;
}

.title-head {
  width: 1150px;
  height: 650px;
}

h1 {
  width: 956px;
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
  text-align: left;
  margin-bottom: 30px;
  letter-spacing: -0.03em;
}

.title__img {
  background-image: url(../resources/h1background.png);
  width: 1150px;
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  position: relative;
}

.title__img__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #ffffff;
  width: 430px;
  height: 81px;
  letter-spacing: -0.03em;
  position: absolute;
  left: 40px;
  bottom: 40px;
}

h2 {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  text-transform: uppercase;
  padding-top: 150px;
  margin-bottom: 30px;
}

.description {
  width: 1051px;
}

p.description__text {
  width: 100%;
  font-weight: 400;
  font-size: 45px;
  line-height: 61px;
  margin-bottom: 30px;
  text-align: left;
  letter-spacing: -0.03em;
}

.btn {
  width: 255px;
  height: 67px;
  background-color: #ad1818;
  color: #ffffff;
  border-radius: 5px;
  padding: 20px 40px;
  display: block;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  text-decoration: none;
}

.projects {
  width: 1150px;
  margin-bottom: 150px;
}

.project {
  width: 100%;
  margin-bottom: 90px;
}

.projects__img {
  margin-bottom: 15px;
  width: 1150px;
  height: 450px;
  object-fit: cover;
  object-position: 0 92%;
}

.project__name {
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.03em;
  margin-bottom: 15px;
}

a.projects {
  width: 127px;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: -0.03em;
  color: #ad1818;
  text-decoration: none;
  padding-left: 2px;
}

.project__link {
  width: 127px;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: -0.03em;
  color: #ad1818;
  text-decoration: none;
}

a.projects__btn {
  width: 1150px;
  height: 153px;
  display: block;
  border: 1px solid #AD1818;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.03em;
  color: #AD1818;
  text-align: center;
  padding-top: 56px;
  border-radius: 5px;
}

a.projects__btn:hover {
  background-color: #AD1818;
  color: #ffffff;
  cursor: pointer;
}

.section-black {
  background-color: #121212;

}

.section {
  margin: 0 auto;
  width: 1400px;
}

.services {
  width: 1150px;
  padding-left: 125px;
  padding-bottom: 150px;
  color: #ffffff;
}

.service {
  width: 1150px;
}

.service__img {
  width: 100%;
  height: 270px;
  margin-bottom: 15px;
  object-fit: cover;
  object-position: 0 50%;
}

.service__name {
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.03em;
  margin-bottom: 60px;
}