body {
  font-family: "Manrope", sans-serif;
  width: 100%;
}

.main {
  width: 1400px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 125px 125px;
}

.title-head {
  width: 1150px;
  height: 650px;
}

h1 {
  width: 956px;
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
  text-align: left;
  margin-bottom: 30px;
  letter-spacing: -0.03em;
}

.title-img {
  background-image: url(../resources/h1background.png);
  width: 1150px;
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  padding-top: 379px;
  padding-left: 40px;
}

.img-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #ffffff;
  width: 430px;
  height: 81px;
  letter-spacing: -0.03em;
}

h2 {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  text-transform: uppercase;
  padding-top: 150px;
  margin-bottom: 30px;
}

.description {
  width: 1051px;
}

p.description-about {
  width: 100%;
  font-weight: 400;
  font-size: 45px;
  line-height: 61px;
  margin-bottom: 30px;
  text-align: left;
  letter-spacing: -0.03em;
}

.btn {
  width: 255px;
  height: 67px;
  background-color: #ad1818;
  color: #ffffff;
  border-radius: 5px;
  padding: 20px 40px;
  display: block;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  text-decoration: none;
}

.projects {
  width: 1150px;
}

.projects-img {
  width: 1150px;
  margin-bottom: 15px;
}

.project-name {
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.03em;
  margin-bottom: 15px;
  width: 501px;
  height: 41px;
}

a.projects {
  width: 127px;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: -0.03em;
  color: #ad1818;
  text-decoration: none;
  padding-left: 2px;
}
